*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background : url('../img/etch.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-size: contain;
}



.row{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.rowChild{
    flex:1;
    height: auto;
    width: auto;
    border-radius: 5px;
}

.black{
    background-color: black;
}



button, select#color {
    padding: 10px 20px;
}

aside {
    display: flex;
    gap: 10px;
    /* background: #fff; */
    align-items: center;
}

article {
    display: flex;
    background: #fff;
    margin-left: 2px;
    padding: 10px 20px;
    gap: 16px;
}

input#drawing {
    scale: 2.5;
}